/* zodat navbar veolledig aansluit op scherm */
* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: "Poppins", sans-serif;
    background-image: url(../Afbeeldingen/background.png);
    background-size: cover;

    /* binnenkomst transition */
    opacity: 0;
    animation: Binnenkomsttransition 0.5s ease forwards;
}

   @keyframes Binnenkomsttransition {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

.navbar {
    background: linear-gradient(
        90deg,
        rgb(66, 153, 230) 0%,
        rgb(37, 128, 202) 49%,
        rgba(0, 132, 227, 1) 52%,
        rgba(67, 124, 247, 1) 100%
    );
    justify-content: space-between;
    display: flex;
    padding: 15px;
    box-shadow: 10px 20px 50px rgb(126, 126, 126);
    position: relative;
}

/* zwarte tekst navbar */

.navbar-active {
    color: rgb(0, 0, 0);
}

/* container om navbar opties */

.navbar ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

/* opties in navbar */

ul li a {
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: "Poppins" sans-serif;
}

ul li a:hover {
    color: black;
    transition: 0.3s;
}

#navbar-titel {
    color: white;
    font-family: "Poppins" sans-serif;
    font-size: 25px;
}

/* MEDIAQUERIES - NAVBAR */

/* bij HELE kleine schermen text in navbar kleiner */

@media only screen and (max-width: 450px) {
    .navbar ul li a {
        font-size: 15px;
    }
    .navbar ul{
        gap: 15px;
    }
}

/* Haal de text portfolio Chris koopman weg bij klein scherm */
@media only screen and (max-width: 700px) {
    #navbar-titel {
        display: none;
    }

    /* opties in midden bij wat kleine schermen */
    .navbar ul {
        margin: auto;
    }
}

h1 {
    font-family: "Poppins" sans-serif;
}

#grijsvlak-projecten {
    background-color: rgb(220, 220, 220);
    width: 80%;
    margin: auto;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

/* bij kleinere schermen wordt grijze vlak 100% */

@media only screen and (max-width: 1725px) {
    #grijsvlak-projecten {
        width: 100%;
    }
}

.cards {
    background-color: rgb(255, 252, 252);
    margin: 20px;
    height: auto;
    max-height: 250px;
    width: 30%;
    border-radius: 5%;
    border: 3px solid rgb(255, 253, 253);
    text-align: center;
    box-shadow: 5px 10px 5px rgb(200, 199, 199);
}

.cards:hover {
    transform: scale(1.02);
    background-color: rgb(236, 236, 236);
    transition: 0.3s;
}

/* zodat het plaatje altijd in de cards past */
.cardplaatje {
    max-width: 100%;
    max-height: 75%;
}

/* zodat cards in midden blijft */
.cards {
    margin-left: auto;
    margin-right: auto;
}

/* bij  kleine schermen krijg je 2 rijen cards ipv 3 */

@media only screen and (max-width: 1300px) {
    .cards {
        width: 40%;
    }
}

/* bij  HELE kleine schermen krijg je 2 rijen cards ipv 3 */

@media only screen and (max-width: 600px) {
    .cards {
        width: 75%;
    }
}


